*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{

    background:#EAF6FF;

    overflow-x:hidden;

}

a{

    text-decoration:none;

}

button{

    cursor:pointer;

}